@import "../LibScss/index";

//Container Banner Small
.img_tenis{
    margin: auto;
    padding: 20px;
    width: 80%
}
.container_banner{
    display: flex;
    gap: 20px;
    margin: auto;
    padding: 10px;
    width: 80%;
}

