@use "../LibScss";

.container_cart{
    
    background: $white-light;
    max-height: 80%;
    left: 50%;
    overflow-y: scroll;
    pointer-events: all;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 60%;
    z-index: 100;
    .table{
        
        border-collapse: collapse;
        width: 100%;
        .title_cart{
            padding: 5px 0;
            .btn_close_container{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                height: 35px;
                justify-content: center;
                position: fixed;
                right: 0;
                top: 0;
                width: 35px;
                .lines{
                    display: block;
                    height: 2px;
                    transform-origin: center;
                    width: 25px;
                }
                .line1{
                    transform: translateY(3px) rotate(-45deg);
                }
                .line2{
                    transform: translateY(-4px) rotate(45deg);
                }
            }
        }
        .thead{
            border-bottom: 1px solid black;
            tr{
                th{
                    padding: 10px 0;
    
                }
            }
        }
        .tbody{
            border-bottom: 1px solid black;
            text-align: center;
            .td_img{
                
                padding: 5px;
                text-align: left;
                width: 20%;
                img{
                    height: 50%;
                }
            }
            .td_product{
                
                width: 50%;

            }

            .td_quantity{
                
                text-align: center;
                width: 70px;
                input[type=number]{
                    
                    text-align: center;
                    width: 50%
                }
            }

            .td_delete{
                
                position: relative;
                .btn_delete{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    height: 35px;
                    justify-content: center;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 35px;
                    .lines{
                        display: block;
                        height: 2px;
                        transform-origin: center;
                        width: 25px;
                    }
                    .line1{
                        transform: translateY(3px) rotate(-45deg);
                    }
                    .line2{
                        transform: translateY(-4px) rotate(45deg);
                    }
                }
            }
        }
        .tfoot{
            tr{
                td{
                    padding: 10px 0;
                }
            }
            .cupom{
                width: 50%;
            }
            .td_confirm{
                text-align: center
            }
            .total_valor{
                padding: 10px;
                text-align: right;
            }
        }
    }
}





















// .container_cart{
//     
//     background: $white-light;
//     display: block;
//     left: 50%;
//     margin: auto;
//     // padding: 20px;
//     pointer-events: none;
//     position: fixed;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     // transition: 0.2s;
//     width: 60%;
//     z-index: 100;
//     td{
//         
//         height: 70px !important;

//     }
//     .table{
//         
//         margin: auto;
//         width: 100%;
//     }
//     .td_img{
//         padding: 10px;
//     }
//     .td_title{
//         align-items: center;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         width: 300px;
//     }
//     .td_quantity{
//         text-align: center;
//         width: 20%;
//         input[type=number]{
//             width: 30%;
//         }
//     }
//     .td_actions{
//         width: 10%;
//     }
//     .td_price{
//         text-align: center;
//     }

// }