.container_cart{
    margin: 20px auto;
    padding: 30px;
    width: 85%;
    .cart_table{
        margin: auto;
        pointer-events: all;
        border-collapse: collapse;
        width: 100%;
        .thead{
            border-bottom: 1px solid black;
            tr{
                th{
                    padding: 10px 0;
                }
            }
        }
        .tbody{
            border-bottom: 1px solid black;
            text-align: center;
            width: 100%;
            .td_img{
                padding: 5px;
                text-align: left;
                width: 10%;
            }
            .td_product{
                width: 20%;
            }
            .td_color{
                width: auto;
            }
            .td_quantity{
                // border: 1px solid black;
                text-align: center;
                input[type=number]{
                    text-align: center;
                    width: 30px
                }
            }
            .td_delete{
                position: relative;
                .btn_delete{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    height: 35px;
                    justify-content: center;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 35px;
                    .lines{
                        display: block;
                        height: 2px;
                        transform-origin: center;
                        width: 25px;
                    }
                    .line1{
                        transform: translateY(3px) rotate(-45deg);
                    }
                    .line2{
                        transform: translateY(-4px) rotate(45deg);
                    }
                }
            }
        }
    }
            
    .finality{
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "container_frete container_frete container_frete container_frete"
        "cupom_discount cupom_discount cupom_discount cupom_discount"
        "frete_value frete_value frete_value frete_value"
        "total_value total_value total_value total_value"
        "... btns btns btns"
        ;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 5%;
        .container_frete, 
        .choose_shipping, 
        .cupom_discount, 
        .frete_value, 
        .total_value,
        .btns{
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .container_frete{
            display: flex;
            grid-area: container_frete;
            height: auto;
            .choose_shipping{
                justify-content: space-evenly;
                width: 50%;
            }
        }
        .cupom_discount{
            grid-area: cupom_discount;
            width: 100%;
            input{
                height: 100%;
                width: 60%;
            }
        }
        .frete_value{
            grid-area: frete_value;
        }
        .total_value{
            grid-area: total_value;
        }
        .btns{
            display: flex;
            gap: 10px;
            grid-area: btns;
            justify-content: end;
        }
    }
}


    