
.container_checklist{
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    .checklist_table{
        border-collapse: collapse;
        width: 100%;
        .thead{
            border-bottom: 1px solid black;
        }
        .tbody{
            border-bottom: 1px solid black;
            text-align: center;
            .td_img{
                padding: 5px;
                text-align: left;
                width: 10%;
            }
            .td_product{
                width: auto;
            }
            .td_quantity{
                text-align: center;
                width: 70px;
                input[type=number]{
                    text-align: center;
                    width: 50%
                }
            }
        }
    }
    .footer_checklist{
        display: inline-flex;
        width: 100%;
        .container_address_checklist{
            line-height: 1.3rem;
            margin: 20px 0;
            padding: 10px;
            width: 50%;
            h2{
                margin: 10px 0;
            }
            .address_checklist{
                a{
                    &:hover{
                        transform: scale(1.3);
                        text-decoration: underline;
                    }
                }
            }
        }
        .closer_checklist{
            width: 50%
        }
        .frete_checklist,
        .desconto_cheklist,
        .total_checklist{
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }
    }

    .btns_checklist{
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: end;
        margin: 20px 0;
    }
}

