@mixin config(){
    border: 1px solid black;
}
.header_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    width: 100%;
    .logo{
        width: 10%;
        img{
            margin: auto;
            width: 50%;
        }
    }
    .form_search{
        align-items: center;
        display: flex;
        font-size: 1rem;
        gap: 1px;
        height: 2.1rem;
        width: 30%;
        .input_form_search{
            font-size: 20px;
            height: 100%;
            padding: 6px 20px;
            width: 80%;
        }
        .btn_form_search{
            align-items: center;
            display: flex;
            height: 2.1rem;
            width: 19%;
        }
    }
    .menu_container{
        align-items: center;
        display: flex;
        #btn_socials_close{
            display: none;
        }
        ul{
            align-items: center;
            display:flex;
            li{
                padding: 3px 5px;
                img{
                    width: 50px;
                    cursor: pointer;
                }
            }
        }
    }
    .socials_container{
        display: flex;
        justify-content: center;
        height: 260px;
        overflow-y: hidden;
        position: absolute;
        right: -100px;
        text-align: right;
        top: 110px;
        transition: 0.5s;
        width: auto;
        .menu_list{
            display: block;
            justify-content: space-around; 
            width: 100%;
            li{
                padding: 6px 5px;
                a{
                    img{
                        width: 50px;
                    }
                }
            }
        } 
    }
}
