@use "../LibScss";

.container_login{
    height: auto;
    width: 30%;
    .form_login_user{
        padding-bottom: 20px;
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "input_email input_email input_email"
        "input_pass input_pass input_pass"
        "recovery recovery remember"
        "create create input_confirm"
        ;
        grid-template-columns: repeat(3, 1fr);
        height: auto;

        .input_email{
            grid-area: input_email;
        }
        .input_pass{
            grid-area: input_pass;

        }
        .remember{
            grid-area: remember;
            margin: 10px 0;
        }
        .recovery{
            grid-area: recovery;
            margin: 10px 0;
        }
        .input_confirm{
            align-items: center;
            display: flex;
            grid-area: input_confirm;
            .btn_confirm_login{
                margin: auto;
                padding: 10px auto;
                width: 100%;
            }
        }
    }
    .result_message{
        height: 10%;
        width: 100%;
    }
}