@import "../LibScss/index";

.container_login{
    height: auto;
    width: 30%;
    .form_login_user{
        padding-bottom: 20px;
        display: grid;
        grid-template-areas: 
        "input_email input_email input_email"
        "input_pass input_pass input_pass"
        "recovery recovery remember"
        "create create input_confirm"
        ;
        grid-template-columns: repeat(3, 1fr);
        height: auto;

        .input_email{
            grid-area: input_email;
        }
        .input_pass{
            grid-area: input_pass;

        }
        .input_confirm{
            align-items: center;
            display: flex;
            grid-area: input_confirm;
            a{
                margin: auto;
                padding: 5px 10px;
            }
        }
        .remember{
            grid-area: remember;
        }
        .recovery{
            grid-area: recovery;
            

        }
    }
}