// #container_login{
//     top: 50% !important;
//     pointer-events: all !important;
//     z-index: 200 !important;
// }
.container_login{
    overflow-y: hidden !important;
    width: 40% !important;
    .form_login{
        padding-bottom: 20px;
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "input_email input_email"
        "input_pass input_pass"
        "recovery remember"
        "create btns"
        ;
        grid-template-columns: repeat(2, 1fr);
        height: auto;

        .input_email{
            grid-area: input_email;
        }
        .input_pass{
            grid-area: input_pass;

        }
        .remember{
            grid-area: remember;
            margin: 10px 0;
        }
        .recovery{
            grid-area: recovery;
            margin: 10px 0;
        }
        #btn_open_recovery,
        #btn_open_register{
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .btns{
            align-items: center;
            display: flex;
            gap: 10px;
            grid-area: btns;
            justify-content: end;
            .btn_confirm_login{
                margin: auto;
                padding: 10px auto;
                width: 100%;
            }
        }
    }

}