
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
    ;
    grid-template-columns: minmax(80%, 100%);
    
    .header{
        grid-area: header;
        height: 50px;
        padding: 20px;
    }
    .main{
        grid-area: main;
        height: 100%;
        width: 100%;
    }
    .footer{
        grid-area: footer;
        width: 100%;
    }
}