
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
    ;
    grid-template-columns: minmax(80%, 1fr);
    
    .header{
        grid-area: header;
        height: 100px;
    }
    .main{
        grid-area: main;
        // height: 100%;
        margin: auto;
        width: 80%;
    }
    .footer_bg{
        grid-area: footer_bg;
        width: 100%;
    }
}