  
.container_modal {
    display: block;
    left: 50%;
    max-height: 80%;
    margin: auto;
    overflow-y: scroll;
    padding: 20px;
    pointer-events: none;
    position: fixed;
    top: -100%;
    transform: translate(-50%,-50%);
    z-index: -1;
    .header_modal{
        position: relative;
        text-align: center;
    }
    .form_general{
        align-content: center;
        display: grid;
        gap: 25px;
        margin: 10px;
        .div_input{
            height: 40px;
            position: relative;
            width: 100%;
            .input_data{
                background: none;
                bottom: 0;
                font-size: 1rem;
                height: 100%;
                left: 0;
                padding-left: 20px;
                position: absolute;
                width: 100%;
                &:focus~.label_input,
                &:valid~.label_input{
                    background: #fff;
                    transform: translateY(-35px);
                }
            }
            .label_input{
                bottom: 0;
                left: 10px;
                position: absolute;
                transition: .5s;
            }

        }

    }
}


    
