
#container_new_password{
    height: auto;
    margin: 30px auto;
    width: 40%;
    .form_new_password{
        padding-bottom: 20px;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "input_pass_recovery input_pass_recovery input_pass_recovery"
        "input_pass_recovery_conf input_pass_recovery_conf input_pass_recovery_conf"
        "... ... btns "
        ;
        grid-template-columns: repeat(3, 1fr);
        height: auto;

        .input_pass_recovery{
            grid-area: input_pass_recovery;

        }
        .input_pass_recovery_conf{
            grid-area: input_pass_recovery_conf;

        }
        .btns{
            align-items: center;
            display: flex;
            gap: 10px;
            grid-area: btns;
            justify-content: end;
            // width: 100%;
            .confirm_recovery{
                // margin: auto;
                // padding: 5px 10px;
            }
        }
    }
}