@import "../LibScss/index";

// CADASTRO
.container_register{
    height: auto;
    width: 45%;
    .form_register_user{
        // @include config;
        align-content: center;
        display: grid;
        gap: 10px;
        grid-template-areas: 
        "input_firstname input_lastname input_lastname"
        "input_email input_email input_email"
        "input_ender input_ender input_cep"
        "input_phone input_city input_uf"
        "input_nasc input_pass input_confirm_create"
        "result_message result_message result_message"
        ;
        grid-template-columns: repeat(3, 1fr);
        height: auto;
        .input_firstname{
            grid-area: input_firstname;
        }
        .input_lastname{
            grid-area: input_lastname;
        }
        .input_email{
            grid-area: input_email;
        }
        .input_ender{
            grid-area: input_ender;
        }
        .input_cep{
            grid-area: input_cep;
        }
        .input_phone{
            grid-area: input_phone;
        }
        .input_city{
            grid-area: input_city;
        }
        .input_uf{
            grid-area: input_uf;
        }
        .input_nasc{
            grid-area: input_nasc;
        }
        .input_pass{
            grid-area: input_pass;
        }
        .input_confirm_create{
            // @include config;
            align-items: center;
            display: flex;
            grid-area: input_confirm_create;
            justify-content: center;
            text-align: center;
        }
        
    }
    .result_message{
        height: 10%;
        width: 100%;
    }
}
