.container_thanks{
    margin: 30px auto;
    padding: 30px;
    width: 60%;

    h2{
        margin-bottom: 20px;
        text-align: center;
    }
    .finality_information{
        line-height: 3;

    }
    .btns{
        display: flex;
        gap: 10px;
        justify-content: end;
        .btn_thanks{
        }
    }
}