@charset "UTF-8";
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  transition: 0.1s ease-in-out;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* Classes Gerais */
.clear {
  clear: both;
}

.text-margin {
  margin: 0 30px;
}

.radius {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.title-folder {
  background-image: linear-gradient(to right, #fafa61, #de0c11);
  -moz-background-image: linear-gradient(to right, #fafa61, #de0c11);
  -webkit-background-image: linear-gradient(to right, #fafa61, #de0c11);
  margin: 50px 10%;
}

.border {
  border: 1px solid black;
}

/* Mensagens Dinâmicas */
.alert-error {
  background: #de0c11;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-success {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-info {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-warning {
  background: #ff5e10;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Planos de Fundo */
.bgcolor-red {
  background: #de0c11;
}

.bgcolor-red-dark {
  background: #555;
}

.bgcolor-blue {
  background: #0aaaff;
}

.bgcolor-blue-dark {
  background: #09316f;
}

.bgcolor-green {
  background: #00ff08;
}

.bgcolor-green-dark {
  background: #247c40;
}

.bgcolor-gray {
  background: #b0acac;
}

.bgcolor-orange {
  background: #ff5e10;
}

.bgcolor-white {
  background: #fff;
}

.bgcolor-white-dark {
  background: #eee;
}

.bgcolor-white-light {
  background: #f2f2f2;
}

.bgcolor-yellow {
  background: #fafa61;
}

.bgcolor-dark {
  background: #555;
}

.bgcolor-yellow-dark {
  background: #645f0f;
}

/* Botões e Cores */
.btn_green {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
}
.btn_green:hover {
  background: #247c40;
}

.btn_blue {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
}
.btn_blue:hover {
  background: #09316f;
}

.btn_red {
  background: #de0c11;
  color: #fff;
  padding: 1% 2%;
}
.btn_red:hover {
  background: #f70e13;
}

.btn_orange {
  background: #ff5e10;
  color: #fff;
  padding: 1% 2%;
}
.btn_orange:hover {
  background: #cc4b0c;
}

.btn_gray {
  background: #b0acac;
  color: #fff;
  padding: 1% 2%;
}
.btn_gray:hover {
  background: #8c8989;
}

.btn_dark {
  background: #555;
  color: #fff;
  padding: 1% 2%;
}
.btn_dark:hover {
  background: #8c8989;
}

/* Cores das Fontes */
.color-red {
  color: #de0c11;
}

.color-red-dark {
  color: #f70e13;
}

.color-blue {
  color: #0aaaff;
}

.color-blue-dark {
  color: #09316f;
}

.color-green {
  color: #00ff08;
}

.color-green-dark {
  color: #247c40;
}

.color-gray {
  color: #b0acac;
}

.color-orange {
  color: #ff5e10;
}

.color-white {
  color: #fff;
}

.color-white-dark {
  color: #eee;
}

.color-yellow {
  color: #fafa61;
}

.color-yellow-dark {
  color: #645f0f;
}

.color-dark {
  color: #555;
}

/* Tamanho da fonte*/
.font-sub {
  font-size: 0.8em;
}

.font-min {
  font-size: 1em;
}

.font-medium {
  font-size: 1.2em;
}

.font-extra {
  font-size: 1.5em;
}

.font-max {
  font-size: 2em;
}

/* Estilo da Fonte */
.font-weight-min {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-max {
  font-weight: 900;
}

/* Opção para testes*/
.header_container {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  width: 100%;
}
.header_container .logo {
  height: 100%;
  width: 20%;
}
.header_container .logo img {
  margin: auto;
  width: 100px;
}
.header_container .form_search {
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 2rem;
  left: 50%;
  justify-content: space-between;
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  width: 30%;
}
.header_container .form_search .input_form_search {
  font-size: 20px;
  color: black;
  height: auto;
  left: 0;
  padding: 6px 20px;
  position: fixed;
  width: 80%;
  background: none;
}
.header_container .form_search .btn_form_search {
  position: fixed;
  right: 0;
  width: 19%;
}
.header_container .menu_container {
  align-items: center;
  display: flex;
}
.header_container .menu_container #btn_socials_close {
  display: none;
}
.header_container .menu_container ul {
  align-items: center;
  display: flex;
}
.header_container .menu_container ul li {
  padding: 3px 5px;
}
.header_container .menu_container ul li img {
  border: 1px solid black;
  width: 50px;
  cursor: pointer;
}
.header_container .socials_container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  height: 260px;
  overflow-y: hidden;
  position: absolute;
  right: -100px;
  text-align: right;
  top: 110px;
  transition: 0.5s;
  width: auto;
}
.header_container .socials_container .menu_list {
  display: block;
  justify-content: space-around;
  width: 100%;
}
.header_container .socials_container .menu_list li {
  padding: 6px 5px;
}
.header_container .socials_container .menu_list li a img {
  width: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  transition: 0.1s ease-in-out;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* Classes Gerais */
.clear {
  clear: both;
}

.text-margin {
  margin: 0 30px;
}

.radius {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.title-folder {
  background-image: linear-gradient(to right, #fafa61, #de0c11);
  -moz-background-image: linear-gradient(to right, #fafa61, #de0c11);
  -webkit-background-image: linear-gradient(to right, #fafa61, #de0c11);
  margin: 50px 10%;
}

.border {
  border: 1px solid black;
}

/* Mensagens Dinâmicas */
.alert-error {
  background: #de0c11;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-success {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-info {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-warning {
  background: #ff5e10;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Planos de Fundo */
.bgcolor-red {
  background: #de0c11;
}

.bgcolor-red-dark {
  background: #555;
}

.bgcolor-blue {
  background: #0aaaff;
}

.bgcolor-blue-dark {
  background: #09316f;
}

.bgcolor-green {
  background: #00ff08;
}

.bgcolor-green-dark {
  background: #247c40;
}

.bgcolor-gray {
  background: #b0acac;
}

.bgcolor-orange {
  background: #ff5e10;
}

.bgcolor-white {
  background: #fff;
}

.bgcolor-white-dark {
  background: #eee;
}

.bgcolor-white-light {
  background: #f2f2f2;
}

.bgcolor-yellow {
  background: #fafa61;
}

.bgcolor-dark {
  background: #555;
}

.bgcolor-yellow-dark {
  background: #645f0f;
}

/* Botões e Cores */
.btn_green {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
}
.btn_green:hover {
  background: #247c40;
}

.btn_blue {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
}
.btn_blue:hover {
  background: #09316f;
}

.btn_red {
  background: #de0c11;
  color: #fff;
  padding: 1% 2%;
}
.btn_red:hover {
  background: #f70e13;
}

.btn_orange {
  background: #ff5e10;
  color: #fff;
  padding: 1% 2%;
}
.btn_orange:hover {
  background: #cc4b0c;
}

.btn_gray {
  background: #b0acac;
  color: #fff;
  padding: 1% 2%;
}
.btn_gray:hover {
  background: #8c8989;
}

.btn_dark {
  background: #555;
  color: #fff;
  padding: 1% 2%;
}
.btn_dark:hover {
  background: #8c8989;
}

/* Cores das Fontes */
.color-red {
  color: #de0c11;
}

.color-red-dark {
  color: #f70e13;
}

.color-blue {
  color: #0aaaff;
}

.color-blue-dark {
  color: #09316f;
}

.color-green {
  color: #00ff08;
}

.color-green-dark {
  color: #247c40;
}

.color-gray {
  color: #b0acac;
}

.color-orange {
  color: #ff5e10;
}

.color-white {
  color: #fff;
}

.color-white-dark {
  color: #eee;
}

.color-yellow {
  color: #fafa61;
}

.color-yellow-dark {
  color: #645f0f;
}

.color-dark {
  color: #555;
}

/* Tamanho da fonte*/
.font-sub {
  font-size: 0.8em;
}

.font-min {
  font-size: 1em;
}

.font-medium {
  font-size: 1.2em;
}

.font-extra {
  font-size: 1.5em;
}

.font-max {
  font-size: 2em;
}

/* Estilo da Fonte */
.font-weight-min {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-max {
  font-weight: 900;
}

/* Opção para testes*/
.container_login {
  height: auto;
  width: 30%;
}
.container_login .form_login_user {
  padding-bottom: 20px;
  display: grid;
  grid-template-areas: "input_email input_email input_email" "input_pass input_pass input_pass" "recovery recovery remember" "create create input_confirm";
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}
.container_login .form_login_user .input_email {
  grid-area: input_email;
}
.container_login .form_login_user .input_pass {
  grid-area: input_pass;
}
.container_login .form_login_user .input_confirm {
  align-items: center;
  display: flex;
  grid-area: input_confirm;
}
.container_login .form_login_user .input_confirm a {
  margin: auto;
  padding: 5px 10px;
}
.container_login .form_login_user .remember {
  grid-area: remember;
}
.container_login .form_login_user .recovery {
  grid-area: recovery;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  transition: 0.1s ease-in-out;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* Classes Gerais */
.clear {
  clear: both;
}

.text-margin {
  margin: 0 30px;
}

.radius {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.title-folder {
  background-image: linear-gradient(to right, #fafa61, #de0c11);
  -moz-background-image: linear-gradient(to right, #fafa61, #de0c11);
  -webkit-background-image: linear-gradient(to right, #fafa61, #de0c11);
  margin: 50px 10%;
}

.border {
  border: 1px solid black;
}

/* Mensagens Dinâmicas */
.alert-error {
  background: #de0c11;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-success {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-info {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-warning {
  background: #ff5e10;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Planos de Fundo */
.bgcolor-red {
  background: #de0c11;
}

.bgcolor-red-dark {
  background: #555;
}

.bgcolor-blue {
  background: #0aaaff;
}

.bgcolor-blue-dark {
  background: #09316f;
}

.bgcolor-green {
  background: #00ff08;
}

.bgcolor-green-dark {
  background: #247c40;
}

.bgcolor-gray {
  background: #b0acac;
}

.bgcolor-orange {
  background: #ff5e10;
}

.bgcolor-white {
  background: #fff;
}

.bgcolor-white-dark {
  background: #eee;
}

.bgcolor-white-light {
  background: #f2f2f2;
}

.bgcolor-yellow {
  background: #fafa61;
}

.bgcolor-dark {
  background: #555;
}

.bgcolor-yellow-dark {
  background: #645f0f;
}

/* Botões e Cores */
.btn_green {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
}
.btn_green:hover {
  background: #247c40;
}

.btn_blue {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
}
.btn_blue:hover {
  background: #09316f;
}

.btn_red {
  background: #de0c11;
  color: #fff;
  padding: 1% 2%;
}
.btn_red:hover {
  background: #f70e13;
}

.btn_orange {
  background: #ff5e10;
  color: #fff;
  padding: 1% 2%;
}
.btn_orange:hover {
  background: #cc4b0c;
}

.btn_gray {
  background: #b0acac;
  color: #fff;
  padding: 1% 2%;
}
.btn_gray:hover {
  background: #8c8989;
}

.btn_dark {
  background: #555;
  color: #fff;
  padding: 1% 2%;
}
.btn_dark:hover {
  background: #8c8989;
}

/* Cores das Fontes */
.color-red {
  color: #de0c11;
}

.color-red-dark {
  color: #f70e13;
}

.color-blue {
  color: #0aaaff;
}

.color-blue-dark {
  color: #09316f;
}

.color-green {
  color: #00ff08;
}

.color-green-dark {
  color: #247c40;
}

.color-gray {
  color: #b0acac;
}

.color-orange {
  color: #ff5e10;
}

.color-white {
  color: #fff;
}

.color-white-dark {
  color: #eee;
}

.color-yellow {
  color: #fafa61;
}

.color-yellow-dark {
  color: #645f0f;
}

.color-dark {
  color: #555;
}

/* Tamanho da fonte*/
.font-sub {
  font-size: 0.8em;
}

.font-min {
  font-size: 1em;
}

.font-medium {
  font-size: 1.2em;
}

.font-extra {
  font-size: 1.5em;
}

.font-max {
  font-size: 2em;
}

/* Estilo da Fonte */
.font-weight-min {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-max {
  font-weight: 900;
}

/* Opção para testes*/
/* Modais */
.modal_fade_blur {
  backdrop-filter: blur(1px);
  background: rgba(142, 142, 142, 0.2117647059);
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: 0.4s;
  width: 100%;
  z-index: -1;
}

.modal_form_container {
  background: #f2f2f2;
  display: block;
  left: 50%;
  padding: 20px;
  pointer-events: none;
  position: fixed;
  top: -100%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.modal_form_container .header_form {
  display: flex;
  width: 100%;
}
.modal_form_container .header_form .title_form {
  margin: 10px auto;
  text-align: center;
}
.modal_form_container .header_form .btn_close_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 35px;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 35px;
}
.modal_form_container .header_form .btn_close_container .lines {
  display: block;
  height: 2px;
  transform-origin: center;
  width: 25px;
}
.modal_form_container .header_form .btn_close_container .line1 {
  transform: translateY(3px) rotate(-45deg);
}
.modal_form_container .header_form .btn_close_container .line2 {
  transform: translateY(-4px) rotate(45deg);
}

.form_general {
  display: grid;
  gap: 5px;
  height: 100%;
}
.form_general .div_input {
  height: 40px;
  position: relative;
  width: 100%;
}
.form_general .input_data {
  background: none;
  bottom: 0;
  font-size: 1rem;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.form_general .input_data:focus ~ label,
.form_general .input_data:valid ~ label {
  background: #f2f2f2;
  bottom: 33px;
  font-size: 0.7rem;
}
.form_general .label_input {
  bottom: 3px;
  left: 10px;
  position: absolute;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 10px;
}
::-webkit-scrollbar-track:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border: 1px solid rgba(155, 155, 158, 0.9647058824);
  border-radius: 1px;
  cursor: pointer;
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(141, 139, 139, 0.5333333333);
}

/* Reset */
* {
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  transition: 0.1s ease-in-out;
  -moz-border-sizing: border-box;
  -webkit-border-sizing: border-box;
  -moz-border-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

/* Classes Gerais */
.clear {
  clear: both;
}

.text-margin {
  margin: 0 30px;
}

.radius {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.title-folder {
  background-image: linear-gradient(to right, #fafa61, #de0c11);
  -moz-background-image: linear-gradient(to right, #fafa61, #de0c11);
  -webkit-background-image: linear-gradient(to right, #fafa61, #de0c11);
  margin: 50px 10%;
}

.border {
  border: 1px solid black;
}

/* Mensagens Dinâmicas */
.alert-error {
  background: #de0c11;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-success {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-info {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.alert-warning {
  background: #ff5e10;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Planos de Fundo */
.bgcolor-red {
  background: #de0c11;
}

.bgcolor-red-dark {
  background: #555;
}

.bgcolor-blue {
  background: #0aaaff;
}

.bgcolor-blue-dark {
  background: #09316f;
}

.bgcolor-green {
  background: #00ff08;
}

.bgcolor-green-dark {
  background: #247c40;
}

.bgcolor-gray {
  background: #b0acac;
}

.bgcolor-orange {
  background: #ff5e10;
}

.bgcolor-white {
  background: #fff;
}

.bgcolor-white-dark {
  background: #eee;
}

.bgcolor-white-light {
  background: #f2f2f2;
}

.bgcolor-yellow {
  background: #fafa61;
}

.bgcolor-dark {
  background: #555;
}

.bgcolor-yellow-dark {
  background: #645f0f;
}

/* Botões e Cores */
.btn_green {
  background: #00ff08;
  color: #fff;
  padding: 10px 20px;
}
.btn_green:hover {
  background: #247c40;
}

.btn_blue {
  background: #0aaaff;
  color: #fff;
  padding: 10px 20px;
}
.btn_blue:hover {
  background: #09316f;
}

.btn_red {
  background: #de0c11;
  color: #fff;
  padding: 1% 2%;
}
.btn_red:hover {
  background: #f70e13;
}

.btn_orange {
  background: #ff5e10;
  color: #fff;
  padding: 1% 2%;
}
.btn_orange:hover {
  background: #cc4b0c;
}

.btn_gray {
  background: #b0acac;
  color: #fff;
  padding: 1% 2%;
}
.btn_gray:hover {
  background: #8c8989;
}

.btn_dark {
  background: #555;
  color: #fff;
  padding: 1% 2%;
}
.btn_dark:hover {
  background: #8c8989;
}

/* Cores das Fontes */
.color-red {
  color: #de0c11;
}

.color-red-dark {
  color: #f70e13;
}

.color-blue {
  color: #0aaaff;
}

.color-blue-dark {
  color: #09316f;
}

.color-green {
  color: #00ff08;
}

.color-green-dark {
  color: #247c40;
}

.color-gray {
  color: #b0acac;
}

.color-orange {
  color: #ff5e10;
}

.color-white {
  color: #fff;
}

.color-white-dark {
  color: #eee;
}

.color-yellow {
  color: #fafa61;
}

.color-yellow-dark {
  color: #645f0f;
}

.color-dark {
  color: #555;
}

/* Tamanho da fonte*/
.font-sub {
  font-size: 0.8em;
}

.font-min {
  font-size: 1em;
}

.font-medium {
  font-size: 1.2em;
}

.font-extra {
  font-size: 1.5em;
}

.font-max {
  font-size: 2em;
}

/* Estilo da Fonte */
.font-weight-min {
  font-weight: 300;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-max {
  font-weight: 900;
}

/* Opção para testes*/
.container_register {
  height: auto;
  width: 45%;
}
.container_register .form_register_user {
  align-content: center;
  display: grid;
  gap: 10px;
  grid-template-areas: "input_firstname input_lastname input_lastname" "input_email input_email input_email" "input_ender input_ender input_cep" "input_phone input_city input_uf" "input_nasc input_pass input_confirm_create" "result_message result_message result_message";
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}
.container_register .form_register_user .input_firstname {
  grid-area: input_firstname;
}
.container_register .form_register_user .input_lastname {
  grid-area: input_lastname;
}
.container_register .form_register_user .input_email {
  grid-area: input_email;
}
.container_register .form_register_user .input_ender {
  grid-area: input_ender;
}
.container_register .form_register_user .input_cep {
  grid-area: input_cep;
}
.container_register .form_register_user .input_phone {
  grid-area: input_phone;
}
.container_register .form_register_user .input_city {
  grid-area: input_city;
}
.container_register .form_register_user .input_uf {
  grid-area: input_uf;
}
.container_register .form_register_user .input_nasc {
  grid-area: input_nasc;
}
.container_register .form_register_user .input_pass {
  grid-area: input_pass;
}
.container_register .form_register_user .input_confirm_create {
  align-items: center;
  display: flex;
  grid-area: input_confirm_create;
  justify-content: center;
  text-align: center;
}
.container_register .result_message {
  height: 10%;
  width: 100%;
}

/*# sourceMappingURL=Style.css.map */
