@import "vars";

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: transparent;
    width: 10px;
    &:hover{
        background: #fff;
    }
}
::-webkit-scrollbar-thumb{
    background: #f2f2f2;
    border: 1px solid #9b9b9ef6;
    border-radius: 1px;
    cursor: pointer;
    width: 10px;
    &:hover{
        background: #8d8b8b88;
    }
}

/* Reset */
*{
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    outline: none;
    padding: 0;
    transition: .1s ease-in-out;
    -moz-border-sizing: border-box;
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
}
html{
    height: 100vh;
    max-width: 100vw;
}
body{
    // background: #000;
    height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
input{
    outline: none;
}
button{
    cursor: pointer;
}
ul, li {
    list-style: none;
}

/* Classes Gerais */
.clear{
    clear: both;
}
.text-margin{
    margin: 0 30px;
}
.radius{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.title-folder{
    background-image: linear-gradient(to right, $yellow, $red);
    -moz-background-image: linear-gradient(to right, $yellow, $red);
    -webkit-background-image: linear-gradient(to right, $yellow, $red);
    margin: 50px 10%;
}



/* Mensagens Dinâmicas */
.alert-error{
    background: $red;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}

.alert-success{
    background: $green;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}

.alert-info{
    background: $blue;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}

.alert-warning{
    background: $orange;
    color: $white;
    padding: 10px 20px;
    text-align: center;
}

/* Planos de Fundo */
.bgcolor-red{
    background: $red;
}

.bgcolor-red-dark{
    background: $dark;
}

.bgcolor-blue{
    background: $blue;
}

.bgcolor-blue-dark{
    background: $blue-dark;
}

.bgcolor-green{
    background: $green;
}

.bgcolor-green-dark{
    background: $green-dark;
}

.bgcolor-gray{
    background: $gray;
}

.bgcolor-orange{
    background: $orange;
}

.bgcolor-white{
    background: $white;
}

.bgcolor-white-dark{
    background: $white-dark;
}

.bgcolor-white-light{
    background: $white-light;
}

.bgcolor-yellow{
    background: $yellow;
}

.bgcolor-dark{
    background: $dark;
}

.bgcolor-yellow-dark{
    background: $yellow-dark;
}

/* Botões e Cores */
.btn_green{
    background: $green;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $green-dark;
    }
}
.btn_blue{
    background: $blue;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $blue-dark;
    }
}
.btn_red{
    background: $red;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $red-dark;
    }
}
.btn_orange{
    background: $orange;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $orange-dark;
    }
}
.btn_gray{
    background: $gray;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $gray-dark;
    }
}
.btn_dark{
    background: $dark;
    color: $white;
    padding: 1% 2%;
    &:hover{
        background: $gray-dark;
    }
}

/* Cores das Fontes */
.color-red{
    color: $red;
}
.color-red-dark{
    color: $red-dark;
}
.color-blue{
    color: $blue;
}
.color-blue-dark{
    color: $blue-dark;
}
.color-green{
    color: $green;
}
.color-green-dark{
    color: $green-dark;
}
.color-gray{
    color: $gray;
}
.color-orange{
    color: $orange;
}
.color-white{
    color: $white;
}
.color-white-dark{
    color: $white-dark;
}
.color-yellow{
    color: $yellow;
}
.color-yellow-dark{
    color: $yellow-dark;
}
.color-dark{
    color: $dark;
}

/* Estilo da Fonte */
.font-weight-min{
    font-weight: 300;
}
.font-weight-medium{
    font-weight: 600;
}
.font-weight-max{
    font-weight: 900;
}

/* Flutuação dos Elementos */
/* Modais */

.modal_fade_blur{
    backdrop-filter: blur(2px);
    background: #8e8e8ecc;
    height: 0%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}



