.autocomplete{
    display: none;
    width: 100%;
    position: absolute;
    z-index:20;
}

.autocomplete .autolist{
    background-color: #cccccc;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.autocomplete .autolist li{
    padding: 10px 20px;
    color: #333333;
    border-bottom: #d6d6d6 1px solid;
}

.autocomplete .autolist a:hover, .autocomplete .autolist li:hover{
    background-color: #777777;
    color: #fff;
}

/*Caso tiver mais de um campo para autocomplete utilizar o abaixo como segunda opção para o segundo campo*/
.autocompleteU{
    display: none;
    width: 100%;
    position: absolute;
    z-index:20;
}

.autocompleteU .autolistU{
    background-color: #cccccc;
    padding: 10px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.autocompleteU .autolistU li{
    padding: 10px 20px;
    color: #333333;
    border-bottom: #d6d6d6 1px solid;
}

.autocompleteU .autolistU a:hover, .autocompleteU .autolistU li:hover{
    background-color: #777777;
    color: #fff;
}